# Ignore application properties
# backend/backend/src/main/resources/application.properties

# Ignore useless test.http
backend/backend/src/test.http

# Ignore IDE configuration files
.idea/
/tests/node_modules/
/node_modules/
.vscode/
